* {
  box-sizing:border-box;
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color:#0e0f1c
}
/*body  * { border:1px solid #fff; }*/

.main-container {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100vw;
	height:100vh;
}
.script	{
	display:flex;
	flex-direction:column;
	/*height:500px;*/
	width:80%;
	color:#fff;
}

/*======nav=======*/

nav {
	display:flex;
	/*height:300px;*/
	width:100%;
}
nav .tab {
	flex:1;
	margin-bottom:40px;
}
.set-tab {
	color:red;
	border-top:5px solid red !important;
	transition:border .1s ease-in;

}
nav .tab .tab-title {
	text-align:center;
	cursor:pointer;
	border-top:3px solid grey ;
	padding-top:15px;
	transition:border .1s ease-in;
}
nav .tab .tab-desc {
	padding:20px 10px;
	font-size:14px;
}

/*=======content=======*/
.content {
	position:relative;
	flex-grow:1;
	height:300px;
}
.card {
	display:none;
	position:absolute;
	height:100%;
	width:100%;
	background-size:cover;
	background-position:center;
	border-radius:4px;
	animation:card-anim 1s;
	animation-fill-mode:both;

}
@keyframes card-anim {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
#card-1 {
	background-image:url("../images/st-1.jpg");
}
#card-2 {
	background-image:url("../images/st-2.jpg");
}
#card-3 {
	background-image:url("../images/st-3.jpg");
}